csv_files/*
_docs/csv_files/*
src/db/createBiggerBOM/sql/small_100.sql
src/db/createBiggerBOM/sql/medium_1000.sql
src/db/createBiggerBOM/sql/large_10000.sql
src/db/db_credentials.php
_docs/alligators/*csv
*~
\#*\#
.\#*
##### Composer
composer.phar
/vendor/

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
composer.lock
