

.grandchild {

  color: black;
  background: #66cc66;
  border-radius: 30px;
  text-align: center;
  cursor: none;
}


.child {
  color: black;
  background: #ffff66;
  border-radius: 30px;
  text-align: left;
}


.parent {
  color: black;
  background: #ff6666;
  border-radius: 30px;
  text-align: left;

}
.bw_parent, .bw_child, .bw_grandchild {
  color: black;
  background: transparent;

}

td.details-control {
  background: url('../resources/details_open.png') no-repeat center center;
  cursor: pointer;
  
}
tr.shown td.details-control {
  background: url('../resources/details_close.png') no-repeat center center;  
  
}

table.treetable span.indenter {
  
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: right;

  /* Disable text selection of nodes (for better D&D UX) */
  user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;

  /* Force content-box box model for indenter (Bootstrap compatibility) */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  
}

table.treetable span.indenter a {
  background-position: left center;
  background-repeat: no-repeat;
  display: inline-block;
  
  text-decoration: none;
  width: 19px;
}

table.treetable {
  border: 1px solid #888;
  border-collapse: collapse;
  font-size: .8em;
  line-height: 1;
  margin: .6em 0 1.8em 0;
  width: 110%;
  
}
