
/* TREE STRUCTURE */
.grandchild,
.child,
.parent,
.grandchild:hover,
.parent:hover
{
  text-decoration: none;
  font-weight: bold;
  border-radius: 30px;
  color: #fff;
  text-shadow: 0 0 2px #333;
  border: 1px solid #333;
}

.grandchild {
  background: #66cc66;
}

.child,
.child:hover
{
  background: #ffff66;
  color: #333;
  text-shadow: 0 0 2px #fff;
}

.parent {
  background: #ff6666;
}
