
/* forms */
form fieldset {
    display: grid;
}

#app-form a,
#app-form a.btn
{
    color: var( --color-tab-selected );
}

/* buttons */
form button,
label.form-btn,
#info_paginate .paginate_button.next,
#info_paginate .paginate_button.previous,
#info_paginate .paginate_button
{
    cursor: pointer;
    text-decoration: none;
    color: var( --color-button-text ) !important;
    background: var( --color-button ) !important;
    border: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
    margin-bottom: 1rem;
    border-radius: 10px !important;
    padding: 1rem 2rem !important;
    outline: none !important;
}

#info_paginate .paginate_button.current {
    cursor: default;
    background-color: #fff !important;
    color: var( --color-tab-selected ) !important;
}

form button span {
    display: flex;
    padding: 10px 0;
    line-height: 0;
}

label.form-btn {
    font-weight: 100;
    margin: 0 !important;
}

form.inline {
    display: flex;
}
